@import "style";

.z-input {
	margin: 1rem 0 1rem 0;
	position: relative;
	box-sizing: border-box;
	font-size: 1.1rem;
	border-radius: $border-radius;
	transition: all .3s ease;
}

.z-input input {
	font-size: $font-size-prior;
	padding: .9rem;
	outline: none;
	border: 2px solid $color-primary;
	background-color: transparent;
	border-radius: $border-radius;
	width: 100%;
	transition: all .25s ease;
	color: $color-font-primary;
}

.z-input:has(input:hover) {
	background-color: $color-bg-lighter;
	box-shadow: $box-shadow-medium;
}

.z-input label {
	font-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.8em;
	margin-left: 1.3em;
	pointer-events: none;
	transition: all .3s ease;
	border-radius: $border-radius;
}

.z-input :is(input:focus, input:not(:placeholder-shown))~label {
	transform: translateY(-50%) scale(1);
	margin: 0em;
	margin-left: 1.3em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	background-color: $color-bg;
}

.z-input :is(input:focus, input:not(:placeholder-shown)) {}