---
import { Button } from "~/components/Button"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Zulse: Zihan's design">
	<h1>Zulse is Zihan's design</h1>
	<h2>Button</h2>
	<Button client:idle>Follow</Button>
	<Button variant="primary" client:idle>Follow</Button>
	<Button variant="text" client:idle>Follow</Button>
</Layout>
